body{
  font-size: 14px;
  /* font-family: 'Courier New', Courier, monospace; */
}

:root{
  /* tabbar字体色 */
  --primary-color: #ff9584;
  /* 搜索框左侧icon颜色 */
  --van-search-left-icon-color: #ff9527 !important;
  /* Tab底边线颜色 */
  --van-tabs-bottom-bar-color: #ff9527 !important;
  /* 开始搜索按钮颜色渐变 */
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  /* Navbar主题色(left) */
  --van-primary-color: #ff7527 !important;

  /* --van-tabbar-item-active-color: #ff9584 !important; */
  /* --van-tabbar-item-font-size: 20px !important; */
}

.top-page{
  position: relative;
  z-index: 10;
  height: 100vh;
  background-color: #fff;
  /* 防止页面y滚动(100vh挡不住滚动条) */
  overflow-y: auto; 
}

/* detail的图标(例如组件03) */
.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/img/detail/icon_check.png) 0 0 / 100% 100%;
}
